.top-menu {
background-color:grey;
width:100%;
display:block;
padding: 0px;
margin: 0px;
min-height:100px;
min-width:460px;
}
.top-menu-one {
width:10%;
background-color:grey;
display:inline-block;
position: relative;
padding: 0px;
margin: 0px;
float: left;
min-width:135px;
min-height:100px;
max-height: 100px;
}
.top-menu-two {
background-color:grey;
width:40%;
display:inline-block;
position: relative;
padding: 0px 0px 0px 0px ;
margin: 0px;
float: left;
min-width:40%;
min-height:100px;
margin-left:0.1%;
}
.top-menu-three {
width:30%;
background-color:grey;
display:inline-block;
position: relative;
padding: 0px;
margin: 0px;
float: right;
min-width:30%;
min-height:100px;
}
.logo {
width:100%;
height:100%;
}
.searchForm{
width:100%;
height:100%;
}
.search-input{
width:60%;
height:100%;
margin-top:0.5%;
border-radius:5px; 
        -moz-border-radius:5px; 
        -webkit-border-radius:5px;
min-height:30px;
border:1px solid #adc5cf;	
	
}
.search-submit{
width:30%;
height:100%;
max-width:90px;
min-height:30px;
background-color:grey;
border:none;
border-radius:5px; 
        -moz-border-radius:5px; 
        -webkit-border-radius:5px;
font-size:95%;		
font-weight:900;
margin-top:0.5%;
}
.search-submit:hover{
width:30%;
height:100%;
max-width:90px;
min-height:30px;
background-color:grey;
border:1px solid green;
border-radius:5px; 
        -moz-border-radius:5px; 
        -webkit-border-radius:5px;
font-size:95%;		
font-weight:900;
margin-top:0.5%;
}
.icon-user{
width:8%;
height:100%;
display:inline-block;
float: left;
min-height:39px;
min-width:30px;
}
.user-text{
float: left;
margin-top: 2.5%;
}
.user{
display:block;
}
.left-menu{
height:100%;
background-color:grey;
width:10%;
display:inline-block;
position: relative;
padding: 0px;
margin: 0px;
float: left;
min-width:135px;
min-height:100px;

}
.left-menu-button{
background-color:grey;
border:1px solid black;
font-size:95%;		
font-weight:900;
}
.left-menu-button{
width:100%;
display:block;
position: relative;
padding: 0px;
margin: 0px;
float: left;
min-width:135px;
min-height:100px;
}

.main{
height:100%;
background-color:red;
width:10%;
display:inline-block;
position: relative;
padding: 7px;
margin: 7px;
float: left;
min-width:135px;
min-height:100px;
}
